<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../include/common_css'); %>
    
</head>
<body>
    <%- include('../include/nav'); %>
    <div class="container">
        <h2>Emp</h2>
        <a href="<%=baseURL%>/employee/add" class="btn btn-info">Add New emp</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% listdata.forEach(function(row,index){ %>
                    <tr>
                        <th scope="row"><%= index+1 %></th>
                        <td><%= row.name %></td>
                        <td><%= row.email %></td>
                        <td><%= row.gender %></td>
                        <td><%= row.phone %></td>
                        <td>
                            <a href="<%=baseURL%>/employee/edit/<%= row._id %>" class="btn btn-primary">Edit</a>
                            <a href="<%=baseURL%>/employee/delete/<%= row._id %>" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <%- include('../include/common_js'); %>

</body>
</html>